nav {
	z-index: 2;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}

.title-container {
	margin-top: 45vh;
	margin-bottom: 45vh;
}

h1,
h2 {
	text-shadow: 0 0 3px #fff, 0 0 7px #fff;
}

p {
	color: white;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.6), 0 0 3px rgba(255, 255, 255, 0.6);
}

.page-container {
	margin: 10vh;

	background-color: rgba(255, 255, 255, 0.07);

	z-index: 2;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}

.page-container > .row {
	padding-top: 1em;
}

.page-container > .row > .col {
	float: none;
	margin: auto;
	text-align: center;
}

.page-container > .row > .col > .imgproduits {
	height: 7em;
	max-height: 7em;

	width: auto;
	max-width: auto;
}

.background-container {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-repeat: repeat;
	background-size: cover 100%;

	width: 100vw;
	min-width: 100vw;
	height: 150vh;
	left: 0;
	top: 0;
	position: absolute;

	z-index: -10000000;
}

body {
	background-color: black !important;
}
